@typeparam TItem
@inherits AcmeMenuBase<TItem>

<ul class="acme-menu">
    @foreach (var menuItem in Data)
    {
        <li class="acme-menu-item" @onclick="@(() => TriggerMenuItemSelected(menuItem))"
            @onclick:stopPropagation="true">
            <span class="acme-menu-title">@GetMenuItemTitle(menuItem)</span>
            @{
                var submenuItems = GetChildren(menuItem);
                var hasSubmenuItems = submenuItems.Any();

                if (hasSubmenuItems)
                {
                    <AcmeMenu TItem="@TItem"
                              Data="@submenuItems"
                              TitlePropertyName="@TitlePropertyName"
                              SubmenuItemsPropertyName="@SubmenuItemsPropertyName"
                              Selected="@Selected">
                    </AcmeMenu>
                }
            }
        </li>
    }
</ul>